 <!-- ======= Header ======= -->
 <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">João Almeida</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/4Elemento" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://orcid.org/0000-0003-0882-6547" class="orcid"><i class="fab fa-orcid"></i></a>
          <a href="https://github.com/joofio" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://jfcal.medium.com" class="medium"><i class="fab fa-medium-m"></i></a>
          <a href="https://www.linkedin.com/in/joaofilipealmeida/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/#resume" class="nav-link scrollto"><i class="bx bx-file"></i> <span>Resume</span></a></li>
          <li><a href="/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
          <li><a href="/#publications" class="nav-link scrollto"><i class="bx bxs-graduation"></i> <span>Publications</span></a></li>
          <li><a href="/#services" class="nav-link scrollto"><i class="bx bx-briefcase-alt"></i> <span>Services</span></a></li>
          <li><a href="/blog.html" class="nav-link scrollto"><i class="bx bxs-pen"></i> <span>Blog</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->